node_modules
public
docs
.git
.github
.firebase
.env
.env.*
*.key
*.pem
*.tsbuildinfo
.prettierignore
.prettierrc
CODE_OF_CONDUCT.md
CUSTOMIZATIONS.md
LICENSE.txt
PRODUCTION.md
README.md
development.caddyfile
firebase.json
til.caddyfile
